main {
  min-height: 80vh;
}

#nav-links {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.rating span {
  margin: .2rem;
}

h3 {
  margin-top: 2rem;
}

h2{
  font-size: 1.4rem;
  padding: 1rem 0;
}

h1{
  font-size: 1.8rem; 
  padding: 1rem 0;
}

.btn-success{
  background: rgb(38, 204, 23);
  color: white; 
  border-radius: 0rem;
}

.btn-success:hover{
  background: rgb(18, 167, 5);
  color: white;
}

.btn-danger{
  color: #e52527;border-color: #e52527;box-shadow: 5px 5px 10px rgb(55 94 148 / 20%), -5px -5px 10px rgb(255 255 255 / 40%);padding: 1rem 1.5rem;border-radius: .4rem;
}

.btn-danger:hover{
  background: #e52527;
  color: rgb(255, 255, 255);
}

.btn-signIn{
  background: #1EA5FC;
  color: rgb(250,250,250); 
  border-radius: .2rem;
  transition: all ease-in-out 250ms;
}
.btn-signIn:hover{
  background: #038be6;
  color: rgb(250,250,250); 
}
